@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:wght@400;600&family=Roboto:wght@300;400;700&display=swap');

/* Font Choices */
/* Header Text: 
font-family: 'Bebas Neue', sans-serif;


Body: 
font-family: 'Roboto', sans-serif; */

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Color Scheme Variables */
    --primary-color: #6eb2b7;
    /* primary color */
    --secondary-color: #c73611;
    /*secondary color */
    --accent-color: #e2e2e2;
    /* accent color */
    --additional-accent: #B5A642;
    --text-base: #3a3a3a;
    /*Text */

}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: var(--text-base);
    /* Body font-family */
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 2px grey;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo-img {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 15px;
}

.hide {
    display: none;
}

#logo-title {
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    letter-spacing: 2px;
    margin-left: 5px;
}



/* Navbar Styles */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    text-align: left;
    padding: 0 1rem;
    box-shadow: 0 2px 2px lightgrey;
    left: 0;
    top: 100%;
    text-align: right;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    font-size: 110%;
    margin-bottom: 10px;
}

#menu li{
    margin-top: 10px;
}

.active {
    border-bottom: 1px solid var(--secondary-color);
    color:var(--secondary-color);
}

header>button {
    font-size: 2rem;
    border: none;
    background-color: white;
    /* box-shadow: none; */
    margin-bottom: 5px;
}

/* Main */
main {

    /* Make main content full height of screen */
    flex: 1 0 auto;
    margin-top: 80.4px;
}

/* Hero Section */
#hero {
    height: 600px;
    width: 100%;
    background: var(--primary-color) url("../images/hero-image.png") no-repeat center center/cover;
    background-size: auto;
    position: relative;
}


#hero-text {
    background-color: var(--secondary-color);
    min-width: 200px;
    min-height: 150px;
    position: absolute;
    right: 0px;
    bottom: 80px;
    opacity: 0.9;
    border-radius: 5px 0 0 5px;
    padding: 10px 15px;
}

#hero-text h3 {
    color: #FFFFFF;
    font-size: 30px;
    text-align: right;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    font-weight: normal;
}

/* About Section */

#about {
    padding: 30px 20px 20px;
    
}

#about p {
    margin: 10px 0;

}

/* Code taken and adapted from https: //www.smashingmagazine.com/2014/02/making-embedded-content-work-in-responsive-design/ */
.video-container {
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    width: 100%;
    /* Padding top for 16:9 aspect ratio videos (56.25% of the width) */
    padding-top: 56.25%;
    border: 5px solid var(--primary-color);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-color);
}

/* End of copied code */

/* Testimonials  */
#testimonials-container {
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 20px;
    margin-bottom: 30px;

}

#testimonial-content {
    color: white;
}

#testimonial-content>h2 {
    font-size: 36px;
    text-align: center;
}

/* flexbox parent item */
.testimonial-account {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
}


/* flexbox children styling */
/* testimonials image */
.testimonial-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border: #ffffff solid 2px;
    box-shadow: 2px 0px 2px #e0e0e0;
}


.testimonial-image>img {
    width: 100%;
    height: 100%;
}

.right {
    order: 1;
    text-align: right;
}

#testimonial-content hr {
    border: 0 none;
    height: 1px;
    background-color: white;

}

/* End of flexbox children styling */

/* Navigation Items divs */
#navigation-buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin: 0 20px 20px;
}

#navigation-buttons-section a {
    color: var(--text-base);
    font-size: 48px;
    text-decoration:none;
}

.nav-btns {
    text-align: center;
}

.navigation-icons-image-div {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 13px auto;
    background-color: var(--secondary-color);
    
}

.navigation-icons-image-div>i {
    color: white;
}

.nav-btns h3 {
    margin: 25px 0 10px;
    font-size: 24px;
    text-decoration:underline;
}

/* Footer */
footer {
    background-color: var(--primary-color)
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 30px;
    padding: 5%;
    color: #ffffff;
}

#social-networks i:hover {
    color: #d8d8d8;
    transition: .5s;
}

/* 2. Classes Page */
#classes-section {
    padding: 20px 20px;
    
}

#class-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-around;
    margin: 20px auto;
}

.class-card {
    padding: 20px 30px 30px;
    width: 100%;
    background-color:var(--primary-color);
    color: white;
    border-radius: 10px;
    font-size: 18px;
}

.class-card:nth-child(2n){
    background-color: lightgrey;
    color:var(--text-base);

}

.class-card table th {
    font-size: 24px;
    padding: 0 0 5px;
    text-align: center;
    text-decoration: underline;
}


.signup-btn-div {
    width: 150px;
    margin: 20px auto 0;
}

.signup-btn-div div{
    border: 0;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    
}

.signup-btn-div div a {
    font-size: 18px;
    
    color:var(--text-base);
    text-decoration: none;
}



/* 3. Socials Page */
/* Google Calendar Section */
#google-calendar {
    width: 90%;
    margin: 0px auto 35px;
}

#google-calendar>iframe {
    width: 100%;
    min-height: 400px;
    margin: 20px 0 0;
    border: 5px solid var(--primary-color);
}

#google-calendar>div {
    width: 100%;
}

#google-calendar>div>p {
    font-size: 10px;
    text-align: right;
    margin-top: 0;
}

/* 4. Sign up Form Page*/
#signup-form-section {
    padding: 20px 20px;
    margin: 0 auto;
}

#signup-form{
    background-color: var(--primary-color);
    padding:20px;
    color: white;
    border-radius: 5px;
    margin: 20px 0 30px;
}

#signup-form h2{
    background-color: white;
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size:24px;
}

#signup-form tr{
    margin-top: 10px;
}


#signup-form h3{
    font-size:20px;
    margin: 20px 0 10px;
    text-decoration:underline;
}

#signup-form table td:nth-child(1){
    width: 35%;
}



#signup-form .subtext{
    font-size: 12px;
    
}

#signup-form input{
    width: 100%;
    border:1px solid lightgrey;
    padding: 5px;
}

#signup-form textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
}

#signup-form hr{
    border:0;
    background-color:white;
    height:1px;
    margin: 10px 0;
}

.signup-feedback{
    color:var(--text-base);
    background-color: white;
    padding: 5px 10px;
    border-radius:5px;
    margin: 10px 0;
    opacity:0.8;
}

#signup-form input[type="submit"]{
    font-size:20px;
    margin: 10px 0;
    background-color:var(--secondary-color);
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

#signup-form input[type="submit"]:hover{
    color:var(--secondary-color);
    background-color:white;
    border: 2px solid var(--secondary-color);
    transition: .5s;
}


/* 5. Terms & Conditions Page */
#terms-container{
    padding:40px 40px;
}

#terms-container>div{
    text-align:center;
    margin-top:20px;
    
}

#checkbox-div{
    color:red;
    text-align:right;
    background-color:lightgrey;
    font-size: 24px;
    border-radius: 5px;
    padding: 10px 5px;
}

/* Media queries: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    #logo-img {
        width: 100px;
        height: 100px;
        line-height: 75px;
        margin: 20px 0 0 .5rem
    }

    #logo-title {
        font-size: 2rem;
    }

    #logo-title {
        display: inline;
    }

    /* Hero-image */
    #hero-text h3 {
        font-size: 40px;
        padding-left: 40px;
    }

    /* About Section */
    #about {
        margin: 0 auto;
        width: 75%;
    }

    #about>h2, #classes-section>h2, #signup-form-section>h2 {
        font-size: 32px;
        margin: 0;
    }

    /* Testimonials */
    #testimonial-content {
        width: 75%;
        margin: 0 auto;
    }

    .testimonial-account {
        align-items: center;
        font-size: 18px;
    }

    /* Navigation Buttons Section */
    #navigation-buttons-section {
        flex-direction: row;
        justify-content: space-evenly;
        width: 79%;
        margin: 0px auto 30px;
    }

    /* 2. Classes Page */
    #classes-section{
        margin: 20px auto 0;
        width: 85%;
        
    }

    .class-card {
        width: 45%;
        min-height: 438px;
    }

    .class-card:nth-child(3){
        margin: 0 165px;
    } 

    .class-card table {
        min-height: 330px;
    }

    .class-card table th {
        font-size: 28px;
    }

    #teachers-div{
        width:80%;
        margin: 30px auto 0;
    }

    #teachers-div h2{
        font-size: 1.7em;
    }

    /* 3. Social Events Page */
    /* Google Calendar Section */
    #google-calendar {
        width: 70%;
    }

    /* 4. Sign Up Page */
    /* Sign up form */
    #signup-form-section{
        width: 80%;
        margin-top: 20px;
    }

    #signup-form{
        width: 80%;
        margin:20px auto;
    }
}


/* Media queries: Medium Screen sizes (1024px and up) */
@media screen and (min-width: 1024px) {

    /* Header */
    nav {
        display: block !important;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        font-size: 1.2rem;
    }

    nav.hide {
        display: block;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1.5rem;
        margin-top:20px;
    }
    
    #menu>li:hover {
        color: var(--secondary-color);
    }

    #menu a {
        margin-top:20px;
    }


    #menu a:hover {
        border-bottom: 1px solid var(--secondary-color);
    }
    
    #nav-toggle {
        display: none;
    }

    .active {
        border-bottom: 1px solid var(--text-base);
        color:var(--text-base);
    }

    /* Main Content */
    /* Push main content down to accomodate larger header size */
    main {
        margin-top: 136.4px;
    }

    /* Hero Image */
    #hero-text {
        width: 32%;
        min-width: 400px;
        right: 20px;
        bottom: 30px;
        padding-right: 70px;
        padding-bottom: 5px;
    }

    #hero-text h3 {
        font-size: 50px;
        text-align: left;
        padding-left: 30px;
    }

    /* About Section */
    #about {
        margin: 0 auto;
        width: 60%;
    }

    /* Testimonials */
    #testimonial-content {
        width: 60%;
        font-size: 24px;
    }

    #testimonial-content>h2 {
        text-align: left;
    }

    #large-flex-parent {
        display: flex;
        gap: 20px;
    }

    .testimonial-account {
        align-items: flex-start;
    }

    .testimonial-image {
        width: 100px;
        height: 100px;
    }

    #testimonial-content hr {
        width: 1px;
        height: 220px;
    }

    /* Navigation Buttons Section */
    #navigation-buttons-section {
        width: 70%;
        margin-bottom: 35px;
        margin-top: 0px;
    }

    .navigation-icons-image-div:hover {
        background-color: var(--additional-accent);
    }

    /* 2. Classes Page */

    .class-card {
        width: 40%;
    }

    .class-card:nth-child(3){
        margin: 0;
    } 

    .class-card, .signup-btn-div a{
        font-size:22px;
    }

    .signup-btn-div div:hover{
        background-color: var(--secondary-color);
        transition: .5s;
        color:white;
    }

    .signup-btn-div div:hover a{
        color: white;
        transition: .5s;
    }

    /* 3. Social Events Page */
    /* Google Calendar Section */
    #google-calendar {
        width: 60%;
        padding: 0 20px;
    }

    #google-calendar>iframe {
        height: 500px;
    }

    /* 4. Sign up Page */
    /* Sign Up Form */
    #signup-form-section table td:nth-child(1){
        width: 15%;
    }

}

/* Media queries: Medium Screen sizes (1440px and up) */
@media screen and (min-width: 1440px) {
    /* About Section */
    #about{
        margin: 30px auto;
    }

    #about h2{
        font-size: 34px;
    }

    #testimonial-content hr {
        height: 150px;
    }

    /* 2. Classes Page */
    #class-container{
        gap: 30px;
        margin:20px 0;
    }

    #class-container h2{
        font-size: 20px;
    }

    .class-card {
        width: 30%;   
    }

    .class-card table{
        min-height: 360px;    
        font-size: 22px;
    }

    /* 3. Socials Page */
    /* Google Calendar Section */
    #google-calendar>iframe {
        height: 550px;
    }

    /* 4. Sign up Page */
    /* Sign Up Form */
    #signup-form-section{
        width:60%;
        font-size:18px;
    }

    #signup-form-section h2{
        font-size:24px;
        margin-bottom: 10px;
    }

    #signup-form-section table td:nth-child(1){
        width: 20%;
    }

    #signup-form-section table input{
        width: 50%;
    }
}


/* Media queries: Large Screen sizes (1625px and up) */
@media screen and (min-width: 1625px) {
    /* Testimonials */
    .testimonial-image {
        width: 175px;
        height: 175px;
    }

    /* Navigation Buttons Section */
    #navigation-buttons-section {
        gap: 23px;

    }

    /* 2. Classes Page */
    #classes-section{
        width: 80%;
        margin:20px auto;
    }

    #class-container{
        gap: 10px;    
    }


    .class-card {
        width: 30%;   
    }

    .class-card table{
        min-height: 360px;    
        font-size: 24px;
    }

    /* 3. Socials Page */
    /* Google Calendar Section */
    #google-calendar>iframe {
        height: 600px;
    }

    /* 4. Sign Up Page */
    /* Sign up form */
    #signup-form{
        width: 70%;

    }
}


/* Media queries: Largest Screen sizes (2560px and up) */
@media screen and (min-width: 2560px) {
    /* 2. Classes Page */
    #classes-section{
        width: 70%;
    }

    .class-card {
        width: 18%;   
    }


    /* 3. Socials Page */
    /* Google Calendar Section */
    #google-calendar>iframe {
        height: 800px;
    }
}