/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Color Scheme Variables */
    --primary-color: maroon;
    --secondary-color: #F5F5DC;
    --accent-color: #000080;
    --additional-accent: #B5A642;
    --neutral-base: #D3D3D3;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}


/* Header */
header {
    background-color: var(--additional-accent);
}

/* Main */
main {
    background-color: var(--neutral-base);
    /* Make main content full height of screen */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: var(--accent-color);
}